.about-container {
	width: 100%;
}


.about-image {
	background-image: url('./image.jpg');
	background-repeat: no-repeat;
	background-size: 1500px;
	background-position: bottom;
	height: 700px;
	padding: 25px;
}

.about-intro {
	font-family: "Railway", sans-serif;
	font-weight: 100;
	color: black;
	font-size: 40px;
}

.about-intro strong {
	font-weight: 900;
	color: black;
}

.about-header {
	font-weight: 200;
	font-size: 50px;
	padding: 10px;
	width: 75%;
	margin: 0 auto;
	color: white;
}

.about-text {
	font-size: 20px;
	width: 90%;
	margin: 0 auto;
	color: white;
	padding-bottom: 15px;
}

@media screen and (max-width: 1024px) {
	.about-header {
		font-weight: 200;
		font-size: 50px;
		padding: 10px;
		width: 75%;
		margin: 0 auto;
		color: white;
	}

	.about-text {
		font-size: 20px;
		width: 90%;
		margin: 0 auto;
		color: white;
		padding-bottom: 15px;
	}
}

@media screen and (max-width: 991px) {
	.about-header {
		font-weight: 200;
		font-size: 20px;
		padding: 10px;
		width: 75%;
		margin: 0 auto;
		color: white;
	}

	.about-text {
		font-size: 18px;
		width: 90%;
		margin: 0 auto;
		color: white;
		padding-bottom: 15px;
	}
}


@media screen and (max-width: 767px) {
	.about-header {
		font-weight: 200;
		font-size: 20px;
		padding: 10px;
		width: 75%;
		margin: 0 auto;
		color: white;
	}

	.about-text {
		font-size: 15px;
		width: 90%;
		margin: 0 auto;
		color: white;
		padding-bottom: 15px;
	}
}

@media screen and (max-width: 480px) {
 	.about-header {
		font-weight: 200;
		font-size: 20px;
		padding: 10px;
		width: 75%;
		margin: 0 auto;
		color: white;
	}

	.about-text {
		font-size: 14px;
		width: 90%;
		margin: 0 auto;
		color: white;
		padding-bottom: 15px;
	}
}