/*#welcome-intro {
	margin-top: 0;
}*/

.Welcome {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 50px;
	min-height: 85vh;
}

.welcome-intro {
	padding-top: 15%;
	margin-top: 0;
}

.Welcome > h1 {
	font-size: 20px;
}