body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

h2:before,h3:before,h4:before {
    content: " ";
    display: block;
    visibility: hidden;
    margin-top: -1em;
    height: 3em;
}