body {
	margin: 0;
	padding: 0;
    font-family: Consolas;
    background: linear-gradient(#f8f9fa, #28a745);
}

.heading {
    padding: 25px;
}



/*h1:before {
    content: " ";
    display: block;
    visibility: hidden;
    margin-top: -1em;
    height: 3em;
}*/

/*#contact {
    content: " ";
    display: block;
    visibility: hidden;
    margin-top: 0em;
    height: 0em;
}*/